In [2]:
import pandas as pd
import numpy as np

In [3]:
codcidade = np.arange(1, 13)
codcidade = np.append(codcidade, [29])

In [50]:
cidade = ['Rio de Janeiro', 'São Paulo', 'Rio Grande do Sul', 'Espirito Santo', 'Goiás',
          'Distrito Federal', 'Bahia', 'Rio Grande do Norte', 'Sergipe', 'Minas Gerais',
          'Paraná', 'Santa Catarina', 'Pará']
uf = ['RJ', 'SP', 'RS', 'ES', 'GO', 'DF', 'BH', 'RN', 'SE', 'MG', 'PR', 'SC', 'PA']

In [51]:
codcidade

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 29])

In [52]:
df_cidade = pd.DataFrame({'codcidade': codcidade,
                          'cidade': cidade,
                          'uf': uf})
df_cidade

    codcidade               cidade  uf
0           1       Rio de Janeiro  RJ
1           2            São Paulo  SP
2           3    Rio Grande do Sul  RS
3           4       Espirito Santo  ES
4           5                Goiás  GO
5           6     Distrito Federal  DF
6           7                Bahia  BH
7           8  Rio Grande do Norte  RN
8           9              Sergipe  SE
9          10         Minas Gerais  MG
10         11               Paraná  PR
11         12       Santa Catarina  SC
12         29                 Pará  PA

In [28]:
df_cidade.to_csv('saida_tabela_2_csv.csv')

##### Gerando uma tabela ligeiramente diferente

In [53]:
df_cidade_2 = pd.DataFrame({'Cod Cidade': codcidade,
                          'cidade': cidade,
                          'UF': uf})
df_cidade_2

    Cod Cidade               cidade  UF
0            1       Rio de Janeiro  RJ
1            2            São Paulo  SP
2            3    Rio Grande do Sul  RS
3            4       Espirito Santo  ES
4            5                Goiás  GO
5            6     Distrito Federal  DF
6            7                Bahia  BH
7            8  Rio Grande do Norte  RN
8            9              Sergipe  SE
9           10         Minas Gerais  MG
10          11               Paraná  PR
11          12       Santa Catarina  SC
12          29                 Pará  PA

In [30]:
df_cidade_2.to_csv('saida_tabela_3_csv.csv')

In [ ]:
cidade.sort()

##### Esta outra tabela terá os mesmos dados em ordem diferente e alguns dados inseridos de forma incorreta

In [59]:
uf_2 = ['BH', 'DF', 'ES', 'GO', 'MG', 'PA', 'PR', 'RJ', 'RN', 'RS', 'SC', 'SE', 'SP']

In [60]:
df_cidade_3 = pd.DataFrame({'Cod Cidade': codcidade,
                          'cidade': cidade,
                          'UF': uf_2})
df_cidade_3

    Cod Cidade               cidade  UF
0            1                Bahia  BH
1            2     Distrito Federal  DF
2            3       Espirito Santo  ES
3            4                Goiás  GO
4            5         Minas Gerais  MG
5            6               Paraná  PA
6            7                 Pará  PR
7            8  Rio Grande do Norte  RJ
8            9    Rio Grande do Sul  RN
9           10       Rio de Janeiro  RS
10          11       Santa Catarina  SC
11          12              Sergipe  SE
12          29            São Paulo  SP

In [61]:
df_cidade_3.to_csv('saida_tabela_4.csv.csv')

##### Esta próxima tabela tem uma quantidade diferente de colunas.

In [1]:
cidade = ['Rio de Janeiro', 'São Paulo', 'Rio Grande do Sul', 'Espirito Santo', 'Goiás',
          'Distrito Federal', 'Bahia', 'Rio Grande do Norte', 'Sergipe', 'Minas Gerais',
          'Paraná', 'Santa Catarina', 'Pará']

In [4]:
df_cidade_4 = pd.DataFrame({'codcidade': codcidade,
                          'cidade': cidade})
df_cidade_4

    codcidade               cidade
0           1       Rio de Janeiro
1           2            São Paulo
2           3    Rio Grande do Sul
3           4       Espirito Santo
4           5                Goiás
5           6     Distrito Federal
6           7                Bahia
7           8  Rio Grande do Norte
8           9              Sergipe
9          10         Minas Gerais
10         11               Paraná
11         12       Santa Catarina
12         29                 Pará

In [5]:
df_cidade_4.to_csv("saida_tabela_5_csv.csv")